*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Merriweather Sans', sans-serif;
}

:root {
  --colorDark1: #112D4E;
  --colorDark2: #3F72AF;
  --colorLight1: #DBE2EF;
  --colorLight2: #F9F7F7;
}

body {
  background: linear-gradient(160deg, #112d4e, #3f72af);
  color: var(--colorLight2);
  min-height: 100vh;
  padding: 20px;
}

.wrapper {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

/* Center the initial content vertically */
.initial-center {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}


h1 {
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.intro-section {
  margin-bottom: 1.5rem;
  transition: opacity 0.3s ease;
}

.intro-section.hidden {
  display: none;
}

.form-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 3rem;
}

.form-container input {
  all: unset;
  background-color: rgba(219, 226, 239, 0.5);
  padding: 10px 20px;
  border-radius: 10px;
  width: 70%;
}

.form-container input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.form-container .btn {
  background-color: var(--colorDark2);
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-container,
.user-info-container {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.loading-container.active,
.user-info-container.active {
  display: flex;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.user-info-container img {
  width: 80px;
  height: 80px;
}

[data-temp] {
  font-size: 2.5rem;
  font-weight: 700;
}

.parameter-container {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
  flex-wrap: wrap;
  gap: 1rem;
}

.parameter {
  background-color: rgba(219, 226, 239, 0.5);
  padding: 1rem;
  border-radius: 10px;
  width: 30%;
  max-width: 150px;
  text-align: center;
}

.parameter img {
  width: 40px;
  height: 40px;
}
.word1 {
  margin-right: 15px; /* adjust as needed */
}
